extends ../../layout/auth.pug
include ../../mixins/alert.pug
block main
    +alert-success(5000)
    +alert-error(5000)
    .container.my-5 
        .row.justify-content-center 
            .col-8 
                h1(class="text-center" ) Đăng Nhập Tài Khoản 
                form(action="/auth/login" method="POST")
                    div(class="form-group")
                        label(for="email") Email
                        input(type="email" id="email" name="email" class="form-control" required)
                    div(class="form-group")
                        label(for="password") Mật Khẩu 
                        input(type="password" id="password" name="password" class="form-control" required)
                    div(class="form-group")
                        button(type="submit" class="btn btn-primary btn-block") Đăng Nhập
                a(href="/auth/forgotPw") Quên Mật Khẩu? 
                a(href="/auth/register" class="text-left") Đăng Kí 
        
