footer.footer-player.fixed-bottom
  .player-left
    #footer-song-info.d-flex.align-items-center.gap-3
      .song-thumb
        img(src="/images/default-song.jpg" alt="")
      .song-info
        .song-title Chưa chọn bài hát
        .song-artist

      .song-actions
        button.btn-icon
          i.fa-regular.fa-heart
        button.btn-icon
          i.fa-solid.fa-ellipsis

  .player-center
    #aplayer

  .player-right
    span.badge-quality 128 kbps

    button.btn-icon
      i.fa-solid.fa-volume-high

    button.btn-icon
      i.fa-solid.fa-microphone

    button.btn-icon
      i.fa-solid.fa-bars