header.header
    .header-left
        .logo
            img(src="/images/logo.png", alt="NCT")
            .logo-text
                .title NDB
                .sub Mạng Xã Hội âm nhạc NDB
    .header-center
        .search-box
            i.fa-solid.fa-magnifying-glass
            input(type="text" placeholder="Tìm kiếm bài hát, nghệ sĩ...")
    .header-right
        button.icon-btn
            i.fa-solid.fa-arrow-up-from-bracket
        if(user)
            img.avatar(src="/images/avatar.png")
        else
            a(href="/auth/login" class="btn-login") đăng nhập 
        button.icon-btn
            i.fa-solid.fa-gear