aside.sidebar
    .menu
        a.menu-item.active(href="#")
            i.fa-solid.fa-wave-square
            span Khám Phá
        a.menu-item(href="#")
            i.fa-solid.fa-sliders
            span Dành Cho Bạn
        a.menu-item(href="#")
            i.fa-regular.fa-user
            span Của Tôi
    .section
        h3 THƯ VIỆN
        a.menu-item(href="#")
            i.fa-solid.fa-heart
            span Bài hát Yêu thích
        a.menu-item(href="#")
            i.fa-solid.fa-clock-rotate-left
            span Nghe gần đây
    .section
        .section-title
            h3 PLAYLIST ĐÃ TẠO
            i.fa-solid.fa-circle-plus
        a.playlist-item(href="#") Nhạc hay